<!html></!DOCTYPE html>
<html>
<head>
	<title>Story</title>


<!-- fonts family -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">



<!--boostrap_link-->		
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- css file-->
<link rel="stylesheet" href="css/style.css">


<!--font awsome-->
<script src="https://kit.fontawesome.com/faef6fbfb5.js" crossorigin="anonymous"></script>

<!-- java script jquery-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>

<section id="title"> 

	<div class="container-fluid"> 
<nav class="navbar navbar-expand-lg navbar-dark">
	<a class="navbar-brand" href=""> StoryBook</a>

	 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a class="nav-link" href="/">Home</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="/stories">Stories</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="/compose">Compose</a>
		</li>
		  
		<li class="nav-item">
			<a class="nav-link" href="/aboutus">About us</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" href="/dashboard"><i class="fas fa-user-alt p-2"></i>Profile  </a>
		</li>

		
		  
	</ul>
	</div>





</nav>