 
<!html></!DOCTYPE html>
<html>
<head>
	<title>Story</title>


<!-- fonts family -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">



<!--boostrap_link-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">		


<!-- css file-->
<link rel="stylesheet" href="css/style.css">


<!--font awsome-->
<script src="https://kit.fontawesome.com/faef6fbfb5.js" crossorigin="anonymous"></script>


<!-- java script jquery-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>

<section id="title"> 

	<div class="container-fluid"> 
<nav class="navbar navbar-expand-lg navbar-dark">
	<a class="navbar-brand" href=""> StoryBook</a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<a class="nav-link" href="/">Home</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="/stories">Stories</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="/compose">Compose</a>
		</li>

		
	   
		<!-- <li class="nav-item">
			<a class="nav-link" href="/dashboard">My Dashboard</a>
		</li> -->

		<li class="nav-item">
			<a class="nav-link" href="/aboutus">About</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/dashboard"><i class="fas fa-user-alt p-2"></i>Profile </a>
		</li>
	</ul>
	</div>





</nav>
</div>


<center><h1> welcome to here</h1> </center>



 <!-- ======= About Section ======= -->
 <section id="about" >
	<div class="container-fluid">

	  <div class="row">

		<div class="col-sm-6 ">
		
				<img  src="image/lonely.jpg"  width="350px" height="350px"  alt="">
			
		</div>

		<div class="col-sm-6 ">

		  <div class="content">
			<h2>Our Web Campaign's Global Features</h2>
			<h4 class ="blackp">
				Our website provides visitors the opportunity to view stories and quotes of others,
				 as well as post your own stories or delete and update your story from your dashboard 
				 any time any where .we provide you a high login secuirty
			</h4>
			<h4 class ="blackp">
				We encourage you to share your own story, find inspirational quotes... and Pass Them On. 
				Each person has a unique story to tell—by sharing yours, we think you will find satisfaction 
				as you see others draw courage, hope and perspective from your personal victories.
			</h4>
			
			
		</div>

		</div>

	  </div>



	  <h2>Why Do We Tell Stories? </h2>		 
	  <ul>
		<i ><h3>Stories Bring People Together</h3>
		  <h3 class ="blackp">
			  stories are a universal language of sorts. We all understand the story of the hero, of love or of heartbreak. 
			  In a world divided by a multitude of things, stories bring people together and create a sense 
			  of community. Despite our language, religion, political preferences, or ethnicity, stories
			   connect us through the way we feel and respond to them … Stories make us human.
			  </h3>
		  </i>
			  
		  
		<i ><h3> Stories Inspire and Motivate</h3>
		  <h3 class="blackp">Stories make us human,Tapping into people’s emotions and baring both the
			   good and bad is how stories inspire and motivate </h3>
			  </i>	
	  </ul> 
	</div>
  </section><!-- End About Section -->
  <center> <h4 >
	Thank you for visiting our website. We hope your visit adds to your day, and we appreciate whatever you may be inspired to share.
</h4> </center>
</section>


<%- include('partials/footer') %> 