

<%- include("partials/header"); -%>

<div class="row">

	<div class="col-lg-6">

         <h1>We tell ourselves Stories In Order To Live.</h1>

         <a class="btn btn-dark btn-lg" href="/register" role="button">Register!</a>
         <a class="btn btn-outline-light btn-lg" href="/login" role="button"><i class="far fa-user"></i>Login</a>

    </div>

<div class="col-lg-6" > 
<img id="title-image" class ="rounded" src=" /image/quill-175980_1280.png" >
</div>


</div>
</section>


<section id = "about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="image/reading.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">For those about to rock...</h2>
            <p>“Just write every day of your life. Read intensely. Then see what happens. Most of my friends who are put on that diet have very pleasant careers.” .</p>
          </div>
        </div>
      </div>
    </div>
  </section>



 <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="image/book.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">We salute you!</h2>
            <p>“We live and breathe words. .... It was books that made me feel that perhaps I was not completely alone. They could be honest with me, and I with them. Reading your words, what you wrote, how you were lonely sometimes and afraid, but always brave; the way you saw the world, its colors and textures and sounds, I felt--I felt the way you thought, hoped, felt, dreamt. I felt I was dreaming and thinking and feeling with you. I dreamed what you dreamed, wanted what you wanted--and then I realized that truly I just wanted you.”</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="image/butterfly.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Let there be rock!</h2>
            <p>“Never fear what people will say... Never think you can't do it because it was never done before! You can be the source of change that is suspending for quite a long period now! You too can fly!”.</p>
          </div>
        </div>
      </div>
    </div>
  </section>




<!--testimonial section-->

<section id="testimonials">

	<div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
    <div class="carousel-item active">
      
      <h2> I can shake off everything as I write; my sorrows disappear, my courage is reborn.</h2>
      <img class= "testimonial-image" src=" image/lady.jpg ">
      <em> neha ,  New york</em>

    </div>

    <div class="carousel-item">
     
    <h2 class="testimonial-text">"A writer is someone for whom writing is more difficult than it is for other people..</h2>
    <img class= "testimonial-image" src="image/woman.jpg">
    <em>Kajal , Delhi</em>

    </div>
   
  <div class="carousel-item">
     
    <h2 class="testimonial-text">I kept always two books in my pocket, one to read, one to write inof their life.</h2>
    <img class= "testimonial-image" src="image/man.jpg">
    <em>abhishek , Illinois</em>

    </div>


  </div>

  <a class="carousel-control-prev" href="#testimonial-carousel " role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" ></span>
   
  </a>
  <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" ></span>
   
  </a>
</div>	
</section>





<%- include("partials/footer"); -%>